<% if current_user.id != @the_blog.blogger_id %>
<p style="color: red">You are not authorized to view/change this blog details.</p>
<% else %>
  
  <div>
    <div>
      <p></p>
      <h2>
        Blog details
      </h2>


      <dl>
        <dt>
          Content
        </dt>
        <dd>
          <%= @the_blog.content %>
        </dd>
        
        <dt>
          Book title
        </dt>
        <dd>
          <%= @the_blog.book_title %>
        </dd>
        
        <dt>
          Book author
        </dt>
        <dd>
          <%= @the_blog.book_author %>
        </dd>

        <!--<dt>
          More info
        </dt>
        <dd>
          <%#= @the_blog.book_url %>-->
  <!--      </dd>

        <dt>
          Privacy status
        </dt>
        <dd>
          <%#= @the_blog.privacy_status %>-->
  <!--      </dd>  -->

        <dt>
          Date created
        </dt>
        <dd>
          <%= @the_blog.created_at %>
        </dd>

        <dt>
          Last updated
        </dt>
        <dd>
          <%= @the_blog.updated_at %>
        </dd>
      </dl>
    </div>
  </div>

  <hr>


  <div>
    <div>
      <h2>
        Edit blog
      </h2>

      <form action="/modify_blog/<%= @the_blog.id %>"  method="post" >
        <div>
          <input type="hidden" id="blogger_id_box" name="query_blogger_id" value="<%= @the_blog.blogger_id %>">
        </div>

        <div>
          <label for="content_box">
            Content
          </label>

          <textarea id="content_box" name="query_content" style="width: 200px; height: 30px;"><%= @the_blog.content %></textarea>
        </div>

        <div>
          <label for="book_title_box">
            Book title
          </label>

          <input type="text" id="book_title_box" name="query_book_title" value="<%= @the_blog.book_title %>">
        </div>
        
        <div>
          <label for="book_author_box">
            Book author
          </label>

          <input type="text" id="book_author_box" name="query_book_author" value="<%= @the_blog.book_author %>">
        </div>
        
        <div>
          <!--<label for="book_url_box">
            More info
          </label>-->

          <input type="hidden" id="book_url_box" name="query_book_url" value="<%= @the_blog.book_url %>">
        </div>


        <div>
          <!--<label for="privacy_status_box">
            Privacy status
          </label>-->

          <input type="hidden" id="privacy_status_box" name="query_privacy_status" value="<%= @the_blog.privacy_status %>">
        </div>
        <p></p>
        <button class="btn btn-secondary btn-sm">
          Update blog
        </button>
      </form>
    </div>
    <p></p>
    <div>
      <a href="/users/<%= current_user.id %>">
        Back to my blog
      </a>
    </div>
  </div>

  <h1></h1>
  <hr>

  <div>
    <h2>Delete blog</h2>
  
    <p>
      Click 
      <a href="/delete_blog/<%= @the_blog.id %>">here</a>
    to delete this blog entry.
    </p>
    
  </div>

<% end %>
