<div>
  <div>
    <h1>
      <%= @the_user.first_name %>'s blog
    </h1>

    <div>
      <div>
        <a href="/users">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_user/<%= @the_user.username %>">
          Delete user
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Username
      </dt>
      <dd>
        <%= @the_user.username %>
      </dd>

      <dt>
        Name
      </dt>
      <dd>
        <%= @the_user.first_name %> <%= @the_user.last_name %>
      </dd>

      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_user.bio %>
      </dd>

      <dt>
        Avatar
      </dt>
      <dd>
        <img src="<%= @the_user.avatar_url %>" width="100px" height="100px" object-fit= "cover">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_user.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<h1> My entries </h1>
<div>
  <div>
    <table border="1">
      <tr>
         <th>
          Date
        </th>

        <th>
          Content
        </th>

        <th>
          Book title
        </th>

        <th>
          Author
        </th>

        <th>
          More info
        </th>
        
        <th>
          Privacy status
        </th>

        <th>
        </th>
      </tr>

      <% @the_user.blogs.each do |a_blog| %>
      <tr>
        <td>
          <%= a_blog.created_at %>
        </td>

        <td>
          <%= a_blog.content%>
        </td>

        <td>
          <%= a_blog.book_title %>
        </td>

        <td>
          <%= a_blog.book_author %>
        </td>

        <td>
          <a href="<%= a_blog.book_url %>">External link</a>
        </td>

        <td>
          <%= a_blog.privacy_status %>
        </td>

        <td>
          <a href="/blogs/<%= a_blog.id %>">
            Edit blog
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
