<div>
  <div>
    <h1>
      List of all bookmarked books
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new bookmarked book
    </h2>

    <form action="/insert_bookmarked_book" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id">
      </div>

      <button>
        Create bookmarked book
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Book
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarked_books.each do |a_bookmarked_book| %>
      <tr>
        <td>
          <%= a_bookmarked_book.id %>
        </td>

        <td>
          <%= a_bookmarked_book.user_id %>
        </td>

        <td>
          <%= a_bookmarked_book.book_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmarked_book.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_bookmarked_book.updated_at) %> ago
        </td>

        <td>
          <a href="/bookmarked_books/<%= a_bookmarked_book.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
