<div>
  <div>
    <h1>
      Bookmarked book #<%= @the_bookmarked_book.id %> details
    </h1>

    <div>
      <div>
        <a href="/bookmarked_books">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bookmarked_book/<%= @the_bookmarked_book.id %>">
          Delete bookmarked book
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_bookmarked_book.user_id %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <%= @the_bookmarked_book.book_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bookmarked_book.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bookmarked_book.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bookmarked book
    </h2>

    <form action="/modify_bookmarked_book/<%= @the_bookmarked_book.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_bookmarked_book.user_id %>">
      </div>

      <div>
        <label for="book_id_box">
          Book
        </label>

        <input type="text" id="book_id_box" name="query_book_id" value="<%= @the_bookmarked_book.book_id %>">
      </div>

      <button>
        Update bookmarked book
      </button>
    </form>
  </div>
</div>

<hr>
